    <%= hidden_field_tag  'movie_id', @movie.id %>
    <% @posts.each do |post| %> 
      <div class="comment-container" id="comment_<%= post.id %>">
          <div class="comment-header">
            <div class="comment-title">
              <%= post.title %> -- <%= post.created_at %>
            </div>
          </div>
          <div class="comment">
            <%= post.body %>
          </div>
          <div data-controller="post" 
            data-action="click->post#newPost" 
            data-post-comment-type-param="reply" 
            data-post-post-id-param="<%= post.id %>" 
            class="comment-save-btn" >Reply</div>
      </div>
      <div style="clear: both;"></div>
      <% unless post.replies.empty? %>
        <% post.replies.each do |reply| %>
          <div class="reply-container" id="comment_<%= reply.id %>">
            <div class="reply-header">
              <div class="comment-title">
                <%= reply.title %> to <%= post.title %> by: -- <%= reply.user.email %> -- <%= reply.created_at %>
              </div>
            </div>
            <div class="comment">
              <%= reply.body %>
            </div>
            <div data-controller="post" 
              data-action="click->post#newPost" 
              data-post-comment-type-param="reply"
              data-post-post-parent-id-param="<%= post.id %>"
              data-post-post-id-param="<%= reply.id %>" 
              class="reply-save-btn" >Reply
            </div>
          </div>
          <div style="clear: both;"></div>
          <% unless reply.replies.empty? %>
            <% reply.replies.each do |r|%>
              <div class="reply-container" id="comment_<%= r.id %>">
                <div class="reply-header">
                  <div class="comment-title">
                    <%= r.title %> to <%= reply.title %> by: -- <%= r.user.email %> -- <%= r.created_at %>
                  </div>
                </div>
                <div class="comment">
                  <%= r.body %>
                </div>
                <div data-controller="post" 
                  data-action="click->post#newPost" 
                  data-post-comment-type-param="reply"
                  data-post-post-parent-id-param="<%= reply.id %>"
                  data-post-post-id-param="<%= r.id %>" 
                  class="reply-save-btn" >Reply
                </div>
              </div>
              <div style="clear: both;"></div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>