<div id="my_bonks" class="city">
  <section class="display-header-container">
    <div class="display-header-grid">
      <div class="display-title">Title</div>
      <div class="display-year">Year</div>
      <div class="display-est-budget">Estimated Budget</div>
      <div class="display-gross">Worldwide Gross</div>
      <div class="display-details">Details</div>
      <div class="display-fav">&nbsp</div>
    </div>
  </section>
  <section class="movie-display-sheet" id="postsList">
    <%# binding.pry %>
    <% if @popular_flops.nil? ? movies = @user_favorites : movies = @popular_flops %>
    <%# binding.pry %>
    <% end %>
    <% movies.each do |movie| %>
    <details class="movie-display-row" data-controller="movie_listing_display" data-movie_listing_display-title-value="<%= movie.favoritable.title %>">
      <!-- " accordian" add detalis controller with data-action that listtens for open event -->
      <summary>
        <%# binding.pry%>
        <div class="movie-line-item">
          <div class="movie-line-item-title"><%= movie.favoritable.title %></div>
          <div class="movie-line-item-year"><%= movie.favoritable.year_released %></div>
          <div class="movie-line-item-est-budget"><%= movie.favoritable.budget %></div>
          <div class="movie-line-item-gross"><%= movie.favoritable.worldwide_gross %></div>
          <div class="movie-line-item-details">
            <% if movie.favoritable.imdb_id %>
            <%= link_to movie_path(movie.favoritable), data: { turbo: "false" }, class: 'film-link' do %>
            <%= fa_icon 'film', class: 'icon'%>
            <% end %>
            <% end %>
          </div>
          <div class="movie-line-item-fav" data-controller="favorites" data-action="click->favorites#addToFavorites" data-favorites-movie-id-param="<%= movie.id %>" data-favorites-user-id-param="<%= Current.user.id %>" data-favorites-fav-type-param="movie">
            <% if (movie.user_id == Current.user.id ) %>
            <div class="favorite-movie">
              <%= fa_icon 'thumbs-up', class: 'icon'%>
            </div>
            <% else %>
            <div class="favorite-thumb">
              <%= fa_icon 'thumbs-up', class: 'icon'%>
            </div>
            <% end %>
          </div>
        </div>
      </summary>
      <%#= render "movies/watch_results", results: @result %>
      <div data-movie_listing_display-target="results"></div>
    </details>
    <% end %>
  </section>
</div>