<% if results.present? %>
<% results.each do |result| %>
<% if result.streaming_services.present? %>
<% result.streaming_services.each do |service| %>
<div class="streaming-list">
  <div class="streaming-service">
    <%= service[:service_name] %>
  </div>
  <div class="service-type">
    <%= service[:type].capitalize %>
  </div>
  <div class="service-price">
    <% if service[:price].present? %>
    – <%= service[:price] %>
    <% end %>
  </div>
  <div class="service-link">
    <%= link_to service[:link], target: "_blank" do %>
    <%= fa_icon 'link', class: 'icon'%>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
<% end %>
<% else %>
<p>No results found.</p>
<% end %>