<div class="container main-grid">
  <div class="container-left">
    <div class="poster">
      <%= image_tag @movie_stuff["banner"] %>
      </div>
  </div>
  <div class="container-right">
    <div class="video">
      <iframe class="video-frame" title="<%= @movie_stuff['title'] %>" src="<%= @movie_stuff['trailer'] %>">
      </iframe>
    </div>
    <div class="movie-info">
      <div class="movie-info-grid">
      <!-- Probably need to look into a grid layout for this -->
        <div class="movie-title"><%= @movie_stuff['title'] %></div>
        <div class="rating"><%= @movie_stuff['content_rating'] %></div>
        <div class="year"><%= @movie_stuff['year'] %></div>
        <div class="movie-desc"><%= @movie_stuff["description"] %></div>
      </div>
    </div>
  </div>
  <div class="posts-dashboard" data-controller="post">
    <div id="add-comments-btn" class="add-post" data-post-comment-type-param="submit" data-post-movie-id-param="<%= @movie.id %>" data-action="click->post#newPost"><%= fa_icon 'plus' %></div>
    <span style="float: right; margin-right: 20px; padding-top: 5px;">Comments section...</span>
  </div>
  <div id="comments-container" class="container-comments">
    <div id="comments-field" class="comments-field"></div>
    <%= hidden_field_tag  'movie_id', @movie.id %>
    <% @posts.each do |post| %> 
      <div class="comment-container" id="comment_<%= post.id %>">
          <div class="comment-header">
            <div class="comment-title">
              <%= post.title %>
            </div>
          </div>
          <div class="comment">
            <%= post.body %>
          </div>
          <div data-controller="post" 
            data-action="click->post#newPost" 
            data-post-comment-type-param="reply" 
            data-post-post-id-param="<%= post.id %>" 
            class="comment-save-btn" >Reply</div>
      </div>
      <div style="clear: both;"></div>
      <% unless post.replies.empty? %>
        <% post.replies.each do |reply| %>
          <div class="reply-container" id="comment_<%= reply.id %>">
            <div class="reply-header">
              <div class="comment-title">
                <%= reply.title %> to <%= post.title %> by: -- <%= Current.user.email %> --
              </div>
            </div>
            <div class="comment">
              <%= reply.body %>
            </div>
            <div data-controller="post" 
              data-action="click->post#newPost" 
              data-post-comment-type-param="reply"
              data-post-post-parent-id-param="<%= post.id %>"
              data-post-post-id-param="<%= reply.id %>" 
              class="reply-save-btn" >Reply</div>
          </div>
          <div style="clear: both;"></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>