<div>
    <%= form_with model: @user, class: 'sign-in-grid', url: sign_up_path do |f| %>
        <div class="sign-in-title">
            &nbsp;Sign Up
        </div>
        <div class="email-icon"><%= fa_icon 'user lg', class: 'icon'%></div>
        <div class="sign-in-email-form">
            
            <%= f.text_field :email, placeholder: 'your.email@email.com' %>
        </div>
        <div class="sign-in-email-label"></div>

        <div class="password-icon"><%= fa_icon 'lock lg', class: 'icon'%></div>
        <div class="sign-in-password-form">
            <%= f.text_field :password, placeholder: 'Password' %>
        </div>
        <div class="sign-in-password-label"></div>

        <div class="pass-conf-icon"><%= fa_icon 'lock lg', class: 'icon'%></div>
        <div class="sign-in-pass-conf-form">
            <%= f.text_field :password_confirmation, placeholder: 'Password Confirmation' %>
        </div>

        <div class="submit-btn-left"></div>
        <div class="submit-btn">
            <%= f.submit 'Sign Up' %>
        </div>
    <% end %>
</div>
