<script type="text/javascript">
  function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
  }
</script>
<div class="welcome-grid">
  <section class="welcome-grid-title">
    <%# if Current.user %>
    <section class="header-grid">
      <div class="welcome-search">
        <%= render partial: 'movies/search_movies' %>
      </div>
      <div class="welcome-recommendation">
        <%#= button_to 'Add Recommendation', new_movie_path, method: :get, class: 'recommendation-btn' %>
      </div>
    </section>
    <%# end %>
  </section>
  <% if Current.user %>
  <section class="welcome-main">
    <section class="tab-navigation">
      <%= link_to "Bonks Buffet",
                    root_path,
                    data: { turbo_fame: "tab-content" },
                    class: "recommendation-btn", turbo_scroll: false %>
      <%= link_to "My Bonks",
                    favorites_path,
                    data: { turbo_frame: "tab-content" },
                    class: "recommendation-btn", turbo_scroll: false %>

      <%= link_to "Popular Bonks",
                    flops_path,
                    data: { turbo_frame: "tab-content" },
                    class: "recommendation-btn", turbo_scroll: false %>

      <%= link_to "Add Recommendation",
                    recommendations_path,
                    data: { turbo_frame: "tab-content" },
                    class: "recommendation-btn", turbo_scroll: false %>
    </section>
    <section class="main-content">
      <turbo-frame id="tab-content">
        <%= render partial: "movies/movie_table_display", locals: { movies: @movies } %>
      </turbo-frame>
    </section>
  </section>
  <section class="user_info">
    <%= render 'shared/user_panel' %>
  </section>
  <% else %>
  <section class="welcome-main">
    <section class="main-content">
      <section class="masthead">
        <h1>THE BONK</h1>
        <div class="rule"></div>
        <p class="tagline">“Flops Never Die. They Find Fame at The Bonk.”</p>

        <div class="intro">
          <p>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspRemember the Friday nights of old? Browsing the video store aisles, picking the wildest VHS cover you could find, and hoping it wasn’t a total disaster? Spoiler: it probably was—and you loved every second of it.
          </p>

          <p>
            Here at <strong>The Bonk</strong>, we celebrate the movies critics dismissed but fans never forgot. Bold, messy, occasionally out of step with today’s world—yet overflowing with charm, chaos, and the kind of creativity that ages into legend.
          </p>

          <p>
            So grab your favorite retro snack, embrace the cringe, and rediscover the guilty pleasures that made bad… unforgettable.
          </p>
        </div>
      </section>
      <turbo-frame id="tab-content">
        <%= render partial: "movies/movie_table_display", locals: { movies: @movies } %>
      </turbo-frame>
    </section>
  </section>
  <section class="user_info">
    <%= render 'movies/popular_flops' %>
  </section>
  <% end %>
</div>