<div class="container main-grid">
  <div class="container-left">
    <div class="poster">
      <%= image_tag @movie_stuff["banner"] %>
      </div>
  </div>
  <div class="container-right">
    <div class="video">
      <iframe class="video-frame" title="<%= @movie_stuff['title'] %>" src="<%= @movie_stuff['trailer'] %>">
      </iframe>
    </div>
    <div class="movie-info">
      <div class="movie-info-grid">
      <!-- Probably need to look into a grid layout for this -->
        <div class="movie-title"><%= @movie_stuff['title'] %></div>
        <div class="rating"><%= @movie_stuff['content_rating'] %></div>
        <div class="year"><%= @movie_stuff['year'] %></div>
        <div class="movie-desc"><%= @movie_stuff["description"] %></div>
      </div>
    </div>
  </div>
</div>